<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

<div th:replace="views/public/layout/layout :: head"></div>

</head>

<body>

	<!-- *** TOPBAR Y NAVBAR ***
 _________________________________________________________ -->

	<div th:replace="views/public/layout/layout :: header"></div>

	<!-- *** TOPBAR Y NAVBAR END *** -->



	<div id="all">
		<!-- *** CONTENT ***
 _________________________________________________________ -->

<div class="hero-wrap hero-bread" th:style="'background-image: url('+@{/public/images/bg_1.jpg}+');'">
<div class="container">
<div class="row no-gutters slider-text align-items-center justify-content-center">
<div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Inicio</a></span> <span class="mr-2"><a href="index.html">productos</a></span> <span>productos simples</span></p>
<h1 class="mb-0 bread">productos simples</h1>
</div>
</div>
</div>
</div>
<section class="ftco-section">
	<div class="container">
		<div class="row">
<!-- 		imagen -->
			<div class="col-lg-6 mb-5 ftco-animate fadeInUp ftco-animated">
				<a th:href="@{'/public/images/' + ${producto.urlimagen}}" class="image-popup"><img
					th:src="@{'/public/images/' + ${producto.urlimagen}}"
					class="img-fluid"
					alt="Colorlib Template"></a>
			</div>
<!-- 			fin imagen -->
			<div
				class="col-lg-6 product-details pl-md-5 ftco-animate fadeInUp ftco-animated">
				<h3 th:text="${producto.nombre}"></h3>
				<div class="rating d-flex">
					<p class="text-left mr-4">
						<a href="#" class="mr-2">5.0</a> <a href="#"><span
							class="ion-ios-star-outline"></span></a> <a href="#"><span
							class="ion-ios-star-outline"></span></a> <a href="#"><span
							class="ion-ios-star-outline"></span></a> <a href="#"><span
							class="ion-ios-star-outline"></span></a> <a href="#"><span
							class="ion-ios-star-outline"></span></a>
					</p>
					<p class="text-left mr-4">
						<a href="#" class="mr-2" style="color: #000;">20 <span
							style="color: #bbb;">Rating</span></a>
					</p>
					<p class="text-left">
						<a href="#" class="mr-2" style="color: #000;">50 <span
							style="color: #bbb;">Vendidos</span></a>
					</p>
				</div>
				
				<p class="price">S/. 
					<span th:text="${producto.precio}"></span>
				</p>
				<p th:text="${producto.descripcion}"></p>
				<div class="row mt-4">
<!-- 					<div class="col-md-6"> -->
<!-- 						<div class="form-group d-flex"> -->
<!-- 							<div class="select-wrap"> -->
<!-- 								<div class="icon"> -->
<!-- 									<span class="ion-ios-arrow-down"></span> -->
<!-- 								</div> -->
<!-- 								<select name="" id="" class="form-control"> -->
<!-- 									<option value="">Small</option> -->
<!-- 									<option value="">Medium</option> -->
<!-- 									<option value="">Large</option> -->
<!-- 									<option value="">Extra Large</option> -->
<!-- 								</select> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->


					
					

					<div class="w-100"></div>
					<div class="input-group col-md-6 d-flex mb-3">
						<span class="input-group-btn mr-2">
							<button type="button" class="quantity-left-minus btn"
								data-type="minus" data-field="">
								<i class="ion-ios-remove"></i>
							</button>
						</span> <input type="text" id="quantity" name="quantity"
							class="form-control input-number" value="1" min="1" max="100">
						<span class="input-group-btn ml-2">
							<button type="button" class="quantity-right-plus btn"
								data-type="plus" data-field="">
								<i class="ion-ios-add"></i>
							</button>
						</span>
					</div>
					<div class="w-100"></div>
					<div class="col-md-12">
						<p style="color: #000;">20 kg disponibles</p>
					</div>
				</div>
				<p>
					<a th:href="@{'/cart/buy/' + ${producto.idproducto}}" class="btn btn-black py-3 px-5">Anadir al Carrito</a>
				</p>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-3 pb-3">
			<div
				class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">
				<span class="subheading">Productos</span>
				<h2 class="mb-4">Productos Recientes</h2>
				<p>Todo a un solo click</p>
			</div>
		</div>
	</div>
<!-- 	Productos Recientes -->
	<div class="container">
		<div class="row">
		
			<th:block th:each = "producto : ${latestproducto}">
			<div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
				<div class="product">
					<a th:href="@{'/producto/detalle/' + ${producto.idproducto}}" class="img-prod"><img class="img-fluid"
						th:src="@{'/public/images/'+${producto.urlimagen}}"
						alt="Colorlib Template"> <span
						class="status">30%</span>
						<div class="overlay"></div> </a>
					<div class="text py-3 pb-4 px-3 text-center">
						<h3>
							<a th:href="@{'/producto/detalle/' + ${producto.idproducto}}">
							<span th:text = "${producto.nombre}"></span>
							</a>
						</h3>
						<div class="d-flex">
							<div class="pricing">
								<p class="price">
									<span class="price-sale">S/.
									<span th:text = "${producto.precio}"></span>
									</span>
								</p>
							</div>
						</div>
						<div class="bottom-area d-flex px-3">
							<div class="m-auto d-flex">
								<a href="#"
									class="add-to-cart d-flex justify-content-center align-items-center text-center">
									<span><i class="ion-ios-menu"></i></span>
								</a> <a href="#"
									class="buy-now d-flex justify-content-center align-items-center mx-1">
									<span><i class="ion-ios-cart"></i></span>
								</a> <a href="#"
									class="heart d-flex justify-content-center align-items-center ">
									<span><i class="ion-ios-heart"></i></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			</th:block>	
			
<!-- 			<div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated"> -->
<!-- 				<div class="product"> -->
<!-- 					<a href="#" class="img-prod"><img class="img-fluid" -->
<!-- 						th:src="@{/public/images/product-4.jpg}" -->
<!-- 						alt="Colorlib Template"> -->
<!-- 						<div class="overlay"></div> </a> -->
<!-- 					<div class="text py-3 pb-4 px-3 text-center"> -->
<!-- 						<h3> -->
<!-- 							<a href="#">Purple Cabbage</a> -->
<!-- 						</h3> -->
<!-- 						<div class="d-flex"> -->
<!-- 							<div class="pricing"> -->
<!-- 								<p class="price"> -->
<!-- 									<span>$120.00</span> -->
<!-- 								</p> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 						<div class="bottom-area d-flex px-3"> -->
<!-- 							<div class="m-auto d-flex"> -->
<!-- 								<a href="#" -->
<!-- 									class="add-to-cart d-flex justify-content-center align-items-center text-center"> -->
<!-- 									<span><i class="ion-ios-menu"></i></span> -->
<!-- 								</a> <a href="#" -->
<!-- 									class="buy-now d-flex justify-content-center align-items-center mx-1"> -->
<!-- 									<span><i class="ion-ios-cart"></i></span> -->
<!-- 								</a> <a href="#" -->
<!-- 									class="heart d-flex justify-content-center align-items-center "> -->
<!-- 									<span><i class="ion-ios-heart"></i></span> -->
<!-- 								</a> -->
<!-- 							</div> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->

		</div>
	</div>
<!-- 	Fin productos Recientes -->
</section>

<!-- *** FOOTER Y COPYRIGHT ***
 _________________________________________________________ -->
		<div th:replace="views/public/layout/layout :: footer"></div>

		<!-- *** FOOTER Y COPYRIGHT END *** -->

	</div>
	<!-- /#all -->




	<!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->


	<div th:replace="views/public/layout/layout :: scripts"></div>

</body>

</html>