<div class="py-1 bg-primary">
	<div class="container">
		<div
			class="row no-gutters d-flex align-items-start align-items-center px-md-0">
			<div class="col-lg-12 d-block">
				<div class="row d-flex">
					<div class="col-md pr-4 d-flex topper align-items-center">
						<div
							class="icon mr-2 d-flex justify-content-center align-items-center">
							<span class="icon-phone2"></span>
						</div>
						<span class="text">+51 950528300</span>
					</div>
					<div class="col-md pr-4 d-flex topper align-items-center">
						<div
							class="icon mr-2 d-flex justify-content-center align-items-center">
							<span class="icon-paper-plane"></span>
						</div>
						<span class="text">TiendaAyacucho@gmail.com</span>
					</div>
					<div
						class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						<span class="text">entrega en en menos de 20 minutos</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<nav
	class="navbar sticky-top navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
	id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" th:href="@{/home}">Tienda Ayacucho</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#ftco-nav" aria-controls="ftco-nav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menu
		</button>
		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a th:href="@{/home}"
					class="nav-link">Inicio</a></li>


				<th:block th:each="categoria1 : ${categorias}">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="dropdown04"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span th:text="${categoria1.nombre}"></span>
					</a> <!-- 					condicion --> <th:block
							th:if="${categoria1.categorias.size()}>0">

							<div class="dropdown-menu" aria-labelledby="dropdown04">
								<div class="row">
									<div class="text-light px-5 py-0 d-flex">
										<th:block th:each="categoria2 : ${categoria1.categorias}"></th:block>
									</div>


									<th:block th:each="categoria2 : ${categoria1.categorias}">

										<th:block th:if="${categoria2.categorias.size()}>0">

											<div class="col-sm-3">
												<h5 th:text="${categoria2.nombre}" id="h5editar"></h5>
												<ul>
													<th:block th:each="categoria3 : ${categoria2.categorias}">
														<li><a class="dropdown-item"
															th:href="@{'/producto/categoria/' + ${categoria3.idcategoria}}">
																<span th:text="${categoria3.nombre}"></span>
														</a></li>
													</th:block>
												</ul>
											</div>
										</th:block>
									</th:block>
								</div>
							</div>


						</th:block></li>
				</th:block>
				<th:block th:if="!${userLogged}">
					<li class="nav-item active"><a href="/login" class="nav-link"
						onclick="mostrarLogin()"><span class="icon-user"></span>Go</a></li>
				</th:block>
				<th:block th:if="${userLogged}">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id=""
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span th:text="${userLogged.nombre}"></span>
					</a>
						<div class="dropdown-menu" aria-labelledby="dropdown04">
							<div class="row">
								<div class="text-light px-5 py-0 d-flex"></div>
								<div class="col-sm-3">
									<ul>
										<li th:if="${isAdmin}"><a th:href="@{/admin}"
											class="dropdown-item">Administrar<span></span>
										</a></li>
										<li><a th:href="@{/logout}" class="dropdown-item">Cerrar
												Sesión <span></span>
										</a></li>

									</ul>
								</div>
							</div>
						</div></li>
				</th:block>

				<!-- 					<li class="nav-item cta cta-colored"><a th:href="@{/cart}"
				class="nav-link"><span class="icon-shopping_cart"></span>[<span th:text="*{session.cart.size()}?: '(0)'"></span>]</a></li>
				 -->
		</div>
	</div>
</nav>