<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<title>Producto | Tiendas Ayacucho</title>
<link rel="icon" type="image/jpg"  href="/public/images/manzanaroyal.jpg"/>
<head>

<div th:replace="views/admin/layout/layout :: head"></div>
<link rel="stylesheet"
	th:href="@{/assets/vendor/datatables/css/dataTables.bootstrap4.css}">

<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/datatables/css/dataTables.bootstrap4.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/datatables/css/buttons.bootstrap4.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/datatables/css/select.bootstrap4.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/datatables/css/fixedHeader.bootstrap4.css}">
</head>

<body>
<body>
	<!-- ============================================================== -->
	<!-- main wrapper -->
	<!-- ============================================================== -->
	<div class="dashboard-main-wrapper">
		<!-- ============================================================== -->
		<!-- navbar -->
		<!-- ============================================================== -->

		<div th:replace="views/admin/layout/layout :: header"></div>
		<!-- ============================================================== -->
		<!-- end navbar -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- left sidebar -->
		<!-- ============================================================== -->
		<div th:fragment="scripts" th:remove="tag">
			<div th:replace="views/admin/layout/layout :: menu"></div>
		</div>
		<!-- ============================================================== -->
		<!-- end left sidebar -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- wrapper  -->
		<!-- ============================================================== -->
		<div class="dashboard-wrapper">
			<div class="dashboard-ecommerce">
				<div class="container-fluid dashboard-content ">
					<!-- ============================================================== -->
					<!-- pageheader  -->
					<!-- ============================================================== -->
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="page-header">
								<h2 class="pageheader-title">Producto</h2>
								<p class="pageheader-text"></p>

							</div>
						</div>
					</div>
					<!-- ============================================================== -->
					<!-- end pageheader  -->
					<!-- ============================================================== -->
					<div class="ecommerce-widget">
						<!-- Contenido de la pagina xd -->
						<div class="row">
							<div class="col-12">
								<button id="btnAgregar" class="btn btn-primary">Agregar
									Producto</button>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-12">
								<div class="card">
									<div class="card-body">
										<div class="table-responsive">
											<table class="table table-striped table-bordered first"
												id="tblProductos">
												<thead class="bg-light">
													<tr class="border-0">
														<th class="border-0">#</th>
														<th class="border-0">Nombre</th>
														<th class="border-0">Precio</th>
														<th class="border-0">Cantidad</th>
														<th class="border-0">Descripción</th>
														<th class="border-0">Categoria</th>
														<th class="border-0">Marca</th>
														<th class="border-0">Activo</th>
														<th class="border-0">Opciones</th>
													</tr>
												</thead>
												<tbody>
													<th:block data-th-each="p : ${productos}">
														<tr>
															<td th:text="${p.idproducto}"></td>
															<td th:text="${p.nombre}"></td>
															<td th:text="${p.precio}"></td>
															<td th:text="${p.cantidad}"></td>
															<td th:text="${p.descripcion}"></td>
															<td th:text="${p.categoria.nombre}"></td>
															<td th:text="${p.marca.nombre}"></td>
															<td th:class="${p.activo? 'text-success':'text-danger'}"
																th:text="${p.activo? 'Activo':'Inactivo'}"></td>
															<td><button type="button" class="btn btn-info  p-1"
																	th:attr="onclick=${'actionEditarProducto('+p.idproducto+',this,event)'}">
																	<i class="fas fa-edit"></i>
																</button>
																<button type="button" class="btn btn-success p-1"
																	th:attr="onclick=${'actionAddImagen('+p.idproducto+',this,event)'}">
																	<i class="text-light fas fa-camera"></i>
																</button>
																<button type="button" class="btn btn-warning p-1"
																	th:attr="onclick=${'actionCambiarActivo('+p.idproducto+',this,event)'}">
																	<i class="text-light fas fa-sync"></i>
																</button>
																<button type="button" class="btn btn-danger p-1"
																	th:attr="onclick=${'actionEliminar('+p.idproducto+',this,event)'}">
																	<i class="text-light fas fa-trash"></i>
																</button></td>
														</tr>
													</th:block>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
	<div th:replace="views/admin/producto/productoModal"></div>
	<div th:replace="views/admin/producto/productoImagen"></div>
	<div th:replace="views/admin/layout/layout :: scripts"></div>
	<script
		src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script
		th:src="@{/assets/vendor/datatables/js/dataTables.bootstrap4.min.js}"></script>
	<script
		src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
	<script
		th:src="@{/assets/vendor/datatables/js/buttons.bootstrap4.min.js}"></script>
	<script th:src="@{/assets/vendor/datatables/js/data-table.js}"></script>
	<script
		src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
	<script
		src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
	<script
		src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
	<script
		src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
	<script
		src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
	<script
		src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>

	<script th:src="@{/private/producto/jsProducto.js}"></script>
	<script th:src="@{/private/jsAjax.js}"></script>
	<script th:src="@{/private/jsBotones.js}"></script>
	<script th:src="@{/private/jsEnviarToken.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>

</html>