<div class="modal fade" id="modalProducto" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="nombre" class="col-form-label">Nombre</label> <input
								id="nombre" type="text" class="form-control">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="precio" class="col-form-label">Precio</label> <input
								id="precio" type="text" class="form-control">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="cantidad" class="col-form-label">Cantidad</label> <input
								id="cantidad" type="text" class="form-control">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="descripcion" class="col-form-label">Descripción</label>
							<input id="descripcion" type="text" class="form-control">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="categoria">Categoria</label> <select
								class="form-control" id="categoria">
								<th:block data-th-each="c : ${categorias}">
									<option th:value="${c.idcategoria}" th:text="${c.nombre}"></option>
								</th:block>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="marca">Marca</label> <select class="form-control"
								id="marca">
								<th:block data-th-each="m : ${marcas}">
									<option th:value="${m.idmarca}" th:text="${m.nombre}"></option>
								</th:block>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				<button type="button" id="btnGuardar" class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</div>
</div>