<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<title>Administrar | Tiendas Ayacucho</title>
<link rel="icon" type="image/jpg"  href="/public/images/manzanaroyal.jpg"/>
<head>

<div th:replace="views/admin/layout/layout :: head"></div>

</head>

<body>
<body>
	<!-- ============================================================== -->
	<!-- main wrapper -->
	<!-- ============================================================== -->
	<div class="dashboard-main-wrapper">
		<!-- ============================================================== -->
		<!-- navbar -->
		<!-- ============================================================== -->

		<div th:replace="views/admin/layout/layout :: header"></div>
		<!-- ============================================================== -->
		<!-- end navbar -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- left sidebar -->
		<!-- ============================================================== -->
		<div th:fragment="scripts" th:remove="tag">
			<div th:replace="views/admin/layout/layout :: menu"></div>
		</div>
		<!-- ============================================================== -->
		<!-- end left sidebar -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- wrapper  -->
		<!-- ============================================================== -->
		<div class="dashboard-wrapper">
			<div class="dashboard-ecommerce">
				<div class="container-fluid dashboard-content ">
					<!-- ============================================================== -->
					<!-- pageheader  -->
					<!-- ============================================================== -->
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="page-header">
								<h2 class="pageheader-title">Inicio
								</h2>
								<p class="pageheader-text"></p>
								
							</div>
						</div>
					</div>
					<!-- ============================================================== -->
					<!-- end pageheader  -->
					<!-- ============================================================== -->
					<div class="ecommerce-widget">
						<!-- Contenido de la pagina xd -->
						
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div th:replace="views/admin/layout/layout :: scripts"></div>

</body>

</html>